@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #221f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 12px;
}

.player-container {
  margin: 10px;
  height: 500px;
  width: 400px;
  background: #c0c4c6;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.audio {
  margin-top: 20px;
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%; 
  width: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 2px 30px 5px rgba(0, 0, 0, 0.5);
  animation: none;
}


h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin: 10px 0 0;
}

/* Progress */
.progress-container {
  background: #fff !important;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #f0e9e9;  
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -15px;
  left: 60px;
  width: 500px;
}

.fas {
  font-size: 30px;
  color: rgb(21, 20, 20);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(70%);
  color: rgb(215, 21, 21);
}


.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Change Album */
.change-album{
  position: relative;
  font-size: 16px;
}

.album-list{
  font-size: 32px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;

  }

  .img-container img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 2px 30px 5px rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}

@keyframes img {
  0% {
    width: 100%; /* Start with original width */
    height: 100%; /* Maintain aspect ratio */
    transform: translate(0, 0); /* Start with no translation */
  }
  100% {
    width: 50%; /* Scale to 40% width */
    height: 50%; /* Maintain aspect ratio */
    transform: translate(-24%, 42%); /* Move 10% down and 10% left */
  }
}